@charset "UTF-8";

/**
 * @author Prénom Nom courriel
 *
 * TABLE DES MATIERES
 * Normalize
 * Utilitaires
 * Charte typographique
 * Mise en page
 *** entête
 *** main
 *** interactivité
 *** footer
 */


/* Normalize
   ========================================================================== */
@import url(normalize.css);

/* Utilitaires
   ========================================================================== */
@import url(utilitaires.css);

/* Charte typographique
   ========================================================================== */
@import url(typo.css);


/* Mise en page
   ========================================================================== */
main{
   max-width: 1000px;
   margin: auto;
}
body{
   background-color: var(--color-Light-G);
}
#arriere-plan{
   background-color: var(--color-Dark-G);
}
/*** entête
   ========================================================================== */
header{
   text-align: center;
   background-color: var(--color-Dark-G);
}
/* Padding de l'introduction */

/*** main
   ========================================================================== */
/* Couleur d'arrière plan générale et du main */

/*** interactivité
   ========================================================================== */
/* Interactivité(hover focus selected) des boutons radio de la question du jour */

/*** footer
   ========================================================================== */
   footer{
      background-color: var(--color-Dark-G);
   }
/* Style du pied de page */
