@charset "utf-8";

.biographie{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 
                        "A A A A A A A . . . . ."
                        "B B B B B B B B B . . . ";
}

.biographie__image{
    grid-area: A;
}

.briographie__paragraphe {
    grid-area: B;
    
}




/* régles générales */
body {
    margin: 40px;

}
.box {
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 150%;
}
.header,
.footer {
    background-color: #999;
}
.sidebar2 {
    background-color: #ccc;
    color: #444;
}

nav.logo{
    display: flex;
    justify-content: center;
}

.logo a{
    width: 250px;
    display: block;
}

.entete__image img{
    width: 100%;

}

.container_01{
    color: black;
    max-width: 1000px;
    margin: auto;
}

.container_02{
    background-color: #416559;
}

.container_03{
    color:black
}

.fil_ariane,
.h1,
.accroche{
    color:black;
}

