@charset "UTF-8";
/**
 * @author Rosalie Roy 2133488@csfoy.ca
 *
 * TABLE DES MATIERES
 * Normalize
 * Polices
 * Mise en page
 *** entête
 *** main
 *** formulaire
 *** interactivité
 *** footer
  * Grille CSS
 */

 /* Normalize
   ========================================================================== */
@import url(normalize.css);
 /* Utilitaires
   ========================================================================== */
@import url(utilitaires.css);

 /* Polices */

 /** Polices importées **/

 /*** Delius Swash Caps (h1) ***/
 @import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');
 /*** Delius Unicase (h2) ***/
 @import url('https://fonts.googleapis.com/css2?family=Delius+Unicase&display=swap');
 /*** Roboto (texte courant) ***/
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
 /*** Delius (citation) ***/
 @import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
 
 /** Polices dans la page **/
 h1 {
    font-family: "Delius Swash Caps";
    font-size: 60px;
}
h2 {
    font-family: "Delius Unicase";
    font-size: 32px;
}
.fil-dariane {
    font-family: "Roboto";
    font-size: 12px;
}
.auteur,
.datePublication,
.credits {
    font-family: "Roboto";
    font-size: 14px;
}
.quote {
    font-family: "Delius";
    font-size: 25px;
    color: var(--couleur-blanche);
}
p {
    font-family: "Roboto";
    font-size: 16px;
}
 /* Mise en page */
 /****** Base commune *******/
:root {
    --couleur-noire: #000;
    --couleur-blanche: #FFF;
    --couleur-mauve: #6E72D0;
    --couleur-jaune: #FFD700;
    --font-family: Raleway, sans-serif;
    }
body {
    background-color: #EFF0FA;
}
header.conteneur{
    background-image: url('../images/Mobile/1x/motifTitre_288.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 500px;
    min-height: 600px;
    position: relative;
}
@media (min-width: 600px){
    header{
        background-size: 555px;
    }
}
@media (min-width: 1000px){
    header{
        background-size: 510px;
    }
}
.citation {
    background-color: var(--couleur-mauve);
}
footer {
    background-color: var(--couleur-noire);
    color: var(--couleur-blanche);
}
.credits {
    text-align: center;
}
.logo {
    width: 255px;
    margin-top: 10px;
}
.logoPiedPage {
    width: 160px;
    margin-top: 3px;
}
/* .rangee {
    margin-top: 10px;
    margin-bottom: 10px;
} */
.lienLogoPied {
    display: block;
    text-align: center;
}
.decorationTitre {
    position: relative;
}

/* Grille css et flexbox
   ========================================================================== */
/*** Classe pour créer un bloc ***/
.col {
    display: block;
    margin: 0 0 1rem 0; /* Top Right Bottom Left
                           - La valeur du margin-bottom peut être changée.
                           Elle permet d'espacer les blocs à la verticale. */

    background-color: linen; /* pour visualiser les blocs pendant le développement...
                                À mettre en commentaire après */
    border: 1px solid black;
}
/*** Classe conteneur pour le centrage et l'affichage de la grille en arrière-plan ***/
@media (min-width: 600px) {
    .conteneur {
        margin: 0 auto;
        max-width: 1000px;
        padding: 0;
        /* Grille 12 colonnes en arrière-plan - Mettre en commentaires après usage */
        /* background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="url(%23susy-svg-gradient)" width="100%" %3E%3Cdefs%3E%3ClinearGradient spreadMethod="pad" id="susy-svg-gradient" x1="0%" y1="0%" x2="100%" y2="0%"%3E%3Cstop offset="0%" style="stop-color:rgba(64, 191, 64, 0.5);" /%3E%3Cstop offset="100%" style="stop-color:rgba(159, 223, 159, 0.5);" /%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x="0" width="6.7796610169%" height="100%"/%3E%3Crect x="8.4745762712%" width="6.7796610169%" height="100%"/%3E%3Crect x="16.9491525424%" width="6.7796610169%" height="100%"/%3E%3Crect x="25.4237288136%" width="6.7796610169%" height="100%"/%3E%3Crect x="33.8983050847%" width="6.7796610169%" height="100%"/%3E%3Crect x="42.3728813559%" width="6.7796610169%" height="100%"/%3E%3Crect x="50.8474576271%" width="6.7796610169%" height="100%"/%3E%3Crect x="59.3220338983%" width="6.7796610169%" height="100%"/%3E%3Crect x="67.7966101695%" width="6.7796610169%" height="100%"/%3E%3Crect x="76.2711864407%" width="6.7796610169%" height="100%"/%3E%3Crect x="84.7457627119%" width="6.7796610169%" height="100%"/%3E%3Crect x="93.2203389831%" width="6.7796610169%" height="100%"/%3E%3C/svg%3E') no-repeat scroll; */
    }
}
@media (min-width: 600px) {
    .rangee-flex{
        display: flex;
        justify-content: space-between;
    }
}
@media (min-width: 600px) {
    .grille1 {
        display: grid;
        grid-template-columns: repeat(2, 5fr);
        grid-template-areas:
                "picture texte";
        grid-gap: 20px;
        position: relative;
        top: -335px;
        }
    .RoxaneAdisq {
        grid-area: picture;
    }
    .texteIntro {
        grid-area: texte;
    }
    .chansons{
        grid-area: 1 / 1 / 2 / 4;
        background-color: var(--couleur-blanche);
        border: 2px solid var(--couleur-noire);
        margin-bottom: 60px;
    }
    .divertir {
        grid-area: 2 / 1 / 3 / 3;
        background-color: var(--couleur-blanche);
        border: 2px solid var(--couleur-noire);
    }
}
@media (min-width: 600px) {
    .citation {
        background-color: var(--couleur-mauve);
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
        position: relative;
        top: -250px;
    }
    .imageAcrophobie{
        width: 100%;
    }
    .imageAMM{
        grid-area: 2 / 2 / 3 / 4;
        width:100%;
    }
    .grille2{
        display: grid;
        grid-template-columns: 5fr 90px 5fr;
        align-items: center;
        position: relative;
        top: -250px;
    }
    .grille3{
        display: grid;
        grid-template-columns: 5fr 150px 5fr;
        align-items: center;
        position: relative;
        top: -250px;
    }
    .imageTournee{
        grid-area: 1 / 1 / 2 / 3;
    }
    .tournee {
        grid-area: 1 / 2 / 2 / 4;
        background-color: var(--couleur-blanche);
        border: 2px solid var(--couleur-noire);
    }
    .balado {
        grid-area: 2 / 1 / 2 / 4;
        background-color: var(--couleur-blanche);
        border: 2px solid var(--couleur-noire);
    }
}
.contourJaune{
    border: 6px solid var(--couleur-jaune);
}
.boiteMauve{
    box-shadow: -15px 15px 15px var(--couleur-mauve);
}
.chansonsP {
    margin-left: 10px;
    margin-right: 10px;
}
.tourneeP {
    margin-left: 165px;
    margin-right: 10px;
}
.divertir {
    margin-bottom: 60px;
    margin-left: 60px;
}
.divertirP {
    margin-right: 100px;
    margin-left: 15px;
}
.balado {
    margin-top: 60px;
    margin-bottom: 60px;
}
.baladoP {
    margin-left: 20px;
    margin-right: 10px;
}
.quote {
    margin-left: 20px;
    margin-right: 10px; 
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}