/**
 * Typographie responsive (Mobile First)
   ========================================================================
 * Les valeurs de taille de police suggérées ici sont à titre indicatif.
 * À ajuster selon la direction visuelle et le choix de polices de caractères.
 *
 * @author Rosalie Roy 2133488@csfoy.ca
 *
 * TABLE DES MATIÈRES
 * Polices
 * Base décimale
 * Hiérarchie responsive
 *
 *
 * Doc des points de rupture :
 * ==========================================================================
 * Écran étroit : de 0 à 599px
 * point de rupture: 600px
 *
 * Écran moyen : de 600 à 799px
 * point de rupture: 800px
 *
 * Écran large : 800px et +
 */

/* Polices */
 /*** Delius Swash Caps (h1) ***/
 @import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');
 /*** Delius Unicase (h2) ***/
 @import url('https://fonts.googleapis.com/css2?family=Delius+Unicase&display=swap');
 /*** Roboto (texte courant) ***/
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
 /*** Delius (citation) ***/
 @import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
 
 /** Polices dans la page **/
 h1 {
    font-family: "Delius Swash Caps";
    font-size: 55px;
}
@media (min-width: 600px) {
    h1 {
        font-size: 60px;
    }
}
h2 {
    font-family: "Delius Unicase";
    font-size: 26px;
}
@media (min-width: 600px) {
    h2 {
        font-size: 32px;
    }
}
.fil-dariane {
    font-family: "Roboto";
    font-size: 12px;
}
.auteur,
.datePublication,
.credits {
    font-family: "Roboto";
    font-size: 14px;
}
.quote {
    font-family: "Delius";
    font-size: 20px;
    color: var(--couleur-blanche);
}
@media (min-width: 600px) {
    .quote {
        font-size: 25px;
    }
}
p {
    font-family: "Roboto";
    font-size: 16px;
}
.sources {
    font-family: "Roboto";
    font-size: 14px;
}