.grille {  display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 1.5fr 0.5fr 1.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "image image image image"
      "h2 h2 h2 h2"
      ". Texte-1 Texte-2 .";
  }
  
  .grille.picture { grid-area: image; }
  
  .texte_1 { grid-area: Texte-1; }
  
  .texte_2 { grid-area: Texte-2; }
  
  .grille.h2 { grid-area: h2; }
  