@media (min-width: 600px) {
    .grille1 {
        display: grid;
        grid-template-columns: 4fr 1fr 1fr 4fr;
        grid-template-areas:
                "a a a a"
                "b b b b";
        position: relative;
    }

    .a {
        grid-area: a;
        position:relative;


    }

    .b{
        grid-area: b;
        position:relative;
    }

}

@media (min-width: 600px) {
    .grille2 {
        display:grid;
        grid-template-columns: 4fr 1fr 1fr 4fr;
        grid-template-areas:
                ". . . c"
                "d d . ."
                ". e e e"
                ". . . ."
                "f f . .";
    }

    .c{
        grid-area: c;
        position:relative;
    }

    .d{
        grid-area: d;
        position:relative;
    }

    .e{
        grid-area: e;
        position:relative;
    }

    .f{
        grid-area: f;
        position:relative;
    }

}

@media (min-width: 600px) {
    .grille3{
        display:grid;
        grid-template-columns: 4fr 1fr 1fr 4fr;
        grid-template-areas:
                ". . g g"
                "h h . ."
                ". . . .";
    }

    .g{
        grid-area: g;
        position:relative;
    }

    .h{
        grid-area: h;
        position:relative;
    }
}

@media (min-width: 600px) {
    .grille4{
        display:grid;
        grid-template-columns: 4fr 1fr 1fr 4fr;
        grid-template-areas:
                ". . i i"
                "j j . ."
                ". k k k"
                ". . . .";

    }

    .i{
        grid-area: i;
        position:relative;
    }

    .j{
        grid-area: j;
        position:relative;
    }

    .k{
        grid-area: k;
        position:relative;
    }
}

@media (min-width: 600px) {
    .grille5 {
        display: grid;
        grid-template-columns: 4fr 1fr 1fr 4fr;
        grid-template-areas:
                "l m m n";
    }

    .l{
        grid-area: l;
        position:relative;
    }

    .m{
        grid-area: m;
        position:relative;
    }

    .n{
        grid-area: n;
        position:relative;
    }

}
