





@media (min-width: 600px) {
    .grille2 {
        display:grid;
        grid-template-columns: 4fr 1fr 1fr 4fr;
       grid-template-rows: 100px 100px auto 100px auto auto auto ;
        grid-template-areas:
    ". . . ."
    "d d c c"
    "d d . ."
    "d d e e"
    ". . e e"
    "z z . ."
    "f f . .";
    }

    .c{
grid-area: c;
        position:relative;
    }

    .d{
        grid-area: d;
        position:relative;
    }

    .e{
        grid-area: e;
        position:relative;
    }

    .f{
        grid-area: f;
        position:relative;
    }
    .z{
       grid-area: z;
        position:relative;
    }

}

@media (min-width: 600px) {
    .grille3{
        display:grid;
        grid-template-columns: 4fr 1fr 1fr 4fr;
        grid-template-rows: 100px 100px auto 100px ;
        grid-template-areas:
    ". . g g"
    ". . g g"
    "h . g g"
    ". . . .";
    }

    .g{
        grid-area: g;
        position:relative;
    }

    .h{
        grid-area: h;
        position:relative;
    }
}

@media (min-width: 600px) {
    .grille4{
        display:grid;
        grid-template-columns: 4fr 1fr 1fr 4fr;
        grid-template-rows: auto auto 100px auto 100px ;
        grid-template-areas:
    ". . i i"
    "j j . ."
    "j j k k"
    ". . . .";


    }

    .i{
        grid-area: i;
        position:relative;
    }

    .j{
        grid-area: j;
        position:relative;
    }

    .k{
        grid-area: k;
        position: relative;
    }
}

