
@import "normalize.css";
@import "typo.css";
@import "utilitaires.css";
/*réinitialisation*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*charte graphique*/
:root {

    font-size: 1.25em;
    color: rgb(0,0,0);


}



/*header*/


.conteneur {
    max-width: 500px;
    margin: auto;
}

body {
    color: black;
    background-color: #585858;
    font-size: 0.8em;
}

.logo {

    display:block;
    text-align: center;
}

.logo img{
    width: 150px;
}


.header__content{
   background-image: url("../images/table/entête2880.jpg");
    background-size: cover;
    min-height: 600px;
    max-width: 100%;
}

.h1{
    margin-right: 2em;
    font-size:2.8vw;
    padding-bottom: 1.4em;
    padding-top: 2em;


}

.header__intro{
    font-size:.8em;
    padding-left: 1.4em;
    padding-top: 1em;


}

@media (min-width:600px ) {
    .header__intro{
        font-size:1em;

    }

    .h1{
        margin-right: 2em;
        font-size:3.6vw;

    }

    .header__content{
        min-height: 850px;
    }

    .conteneur {
        max-width: 650px;
        margin: auto;
    }

    body {
        font-size: 1em;
    }
}

@media (min-width:800px ) {
    .header__intro{
        font-size:1.5em;

    }

    .h1{
        margin-right: 0;
        font-size:5vw;

    }

    .header__content{
        min-height: 1100px;
    }

    .conteneur {
        max-width: 1000px;
        margin: auto;
    }

    body {
        font-size: 1.25em;
    }
}




/*main*/


.main__img{
max-width: 100%;

}

.main__p{
    position:relative;



}

.grille2{
    margin-top: 6em;
}

.grille3{
    padding-bottom: 5em;

}

.grille4{
    padding-bottom: 15em;
}

.main__h2{
    text-align: center;
    font-size:3em;

}

.h{
    padding-top: 6em;
}

.z{
padding-bottom: 1.2em;
}


.i{
    padding-top:2em;
}




/*footer*/


footer{
    padding-top: 18em;
}
.footer__list{
    color:red;
    list-style: none;

}

.footer__items{
    width: 80px;
}

.source{

}

.footer__src,
li .footer__liens{
    font-size: 0.6em;
    max-width: 33%;

}


.footer__liens:link,
.footer__liens:visited{
    color:turquoise;
    text-decoration: none;
}

.footer__liens:hover,
.footer__liens:active{
    color:white;
    text-decoration: none;
}

.footer__media .footer__list{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer__media .footer__items{
    margin-right: 1.6em;
}



.footer__logo{


    max-width: 33%;
}

footer{
    max-width: 100%;
    padding-bottom: 5em;
    display:flex;
    flex-direction: row;

}

