@charset "UTF-8";

/**
 * @author Yves Hélie (conception et réalisation pour @timcsf)
 * @author Ève Février (quelques broutilles d'actualisation de l'exercice)
 * @author Prénom Nom courriel   <---- Utiliser nom complet ou nom d'utilisateur Github
 *
 * TABLE DES MATIÈRES
 * Normalize
 * Utilitaires
 * Charte typographique
 * Grille
 * Menu
 * Règles générales
 * Mise en page
 *** Entête du site
 *** Menu principal
 *** Accroche
 *** Entreprise
 *** Expériences
 *** Services
 *** Pied de page
 */

/* Normalize
   ========================================================================== */
@import url(normalize.css);

/* Utilitaires
   ========================================================================== */
@import url(utilitaires.css);

/* Charte typographique
   ========================================================================== */
@import url(typo.css);


body {
    margin: 0;
}

main {
    margin-bottom: 20vh;
} 


img {
    width: 100%;
}

.h1 {
    margin: 0;
    line-height: 0;
    font-family: 'strasuaregular';
    font-size: 10vw;
    -webkit-text-stroke: 0.1px black;
    -webkit-text-fill-color: white;
}

.h2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 4.5vw;
    line-height: 0;
    padding-left: 0.3em;
    color: white;
    text-shadow: 2px 2px 10px #000;
    position: relative;
}

.h2::before {
    content:'';
    top: -0.5em;
    left: -100px;
    height: 0.6em;
    width: 90%;
    background-color: var(--couleurRose);
    position: absolute;
    z-index: -1;
}

svg {
    width: 300px;
    margin: 0 auto;
}

.svg {
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: black;
}

.picture__entete {
    position: relative;
}

.grille1 {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 0.12fr 0.1fr 0.5fr 0.5fr 0.1fr 0.12fr;
    grid-template-rows: 0.5fr minmax(1.8fr, 320px) 0.6fr 0.6fr;
    grid-template-areas:
        ". . d d d d "
        ". . d d d d "
        ". . a a . . "
        ". . a a . . ";
    position: relative;
}

@media (max-width:800px) {
    .grille1 {
        display: grid;
        grid-column-gap: 10px;
        grid-template-columns: 0.12fr 0.1fr 0.5fr 0.5fr 0.1fr 0.12fr;
        grid-template-rows: 0.5fr 1.8fr, 0.6fr 0.6fr;
        grid-template-areas:
            ". d d d d d "
            ". d d d d d "
            ". a a a a . "
            ". a a a a . ";
    }
}


.titre-grille {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 0.2fr 0.1fr 1fr 1fr;
    grid-template-rows: 1fr 0.5fr;
    grid-template-areas:
        ". b b b"
        ". c c c";
    position: absolute;
    z-index: 1;
    left: 0;
    width: 100%;
}


.intro {
    margin-top: 30vh;
}

p {
    margin: 0;
}

.text-presentation {    
    column-count: 2;
    padding-top: 10px;
    margin-top: -0.6em;
    margin-left: -100px;
    padding-left: 100px;
    margin-right: -100px;
    padding-right: 100px;
    background-color: var(--couleurTurquoise);
    position: relative;
    padding-bottom: 10px;
}

@media (max-width:800px) {
    .text-presentation {
        column-count: 1;
    }
}

.text-presentation::before {
    content: "";
    height: 50vh;
    width: 100px;
    top: -50vh;
    left: 0px;
    background-color: rgb(147, 176, 176);
    position: absolute;
}

@media (max-width:1000px) {
    .text-presentation::before {
        content: " ";
        height: 35vh;
        width: 100px;
        top: -35vh;
        left: 0px;
        background-color: rgb(147, 176, 176);
        position: absolute;
    }
}

@media (max-width:570px) {
    .text-presentation {
        margin-right: -70px;
        padding-right: 70px;
        background-color: rgb(147, 176, 176);
        position: relative;
        padding-bottom: 10px;
    }
}

@media (min-width:800px) {
    .titre-grille {
        display: grid;
        grid-column-gap: 10px;
        grid-template-columns: 0.25fr 0.1fr 1fr 1fr;
        grid-template-rows: 1fr 0.5fr;
        grid-template-areas:
            ". . b b"
            ". . c c";
        position: absolute;
        z-index: 1;
        left: 0;
        width: 100%;
    }
}

.grille_artiste_gauche{
    display: grid;
    grid-template-columns: 0.12fr 0.33fr 0.53fr 0.33fr 0.12fr;
    grid-template-rows: 0.03fr 0.13fr 0.81fr 0.03fr;
    grid-template-areas:
        ". f . . ."
        ". f . . ."
        ". f e . ."
        ". f . . .";
}

.presentation-tete-daffiche {
    position: relative;
}

.grille_artiste_gauche::before {
    content: " ";
    height: 78%;
    width: 69%;
    top: 15%;
    left: 0px;
    background-color: rgb(0, 0, 0);
    position: absolute;
}

.grille_artiste_droite{
    display: grid;
    grid-template-columns: 0.12fr 0.33fr 0.53fr 0.33fr 0.12fr;
    grid-template-rows: 0.03fr 0.13fr 0.81fr 0.03fr;
    grid-template-areas:
        ". . . g ."
        ". . . g ."
        ". . h g ."
        ". . . g .";
}

.grille_artiste_droite::before {
    content: " ";
    height: 78%;
    width: 69%;
    top: 15%;
    right: 0px;
    background-color: rgb(0, 0, 0);
    position: absolute;
}

.image_affiche {
    z-index: 1;
    background-color: transparent;
}


.text_artiste {
    color: white;
    z-index: 2;
}

.tete_daffiche {
    padding-top: 4rem;
    padding-bottom: 2rem;
    text-align: center;
}


.quote {
    position: absolute;
    bottom: -2em;
}

.duaLipaQuote{
    text-align: right;
}

.a {
    grid-area: a;
}

.b {
    grid-area: b;
}

.c {
    grid-area: c;
}

.d {
    grid-area: d;
}

.e {
    grid-area: e;
}

.f {
    grid-area: f;
}

.g {
    grid-area: g;
}

.h {
    grid-area: h;
}
