.grille1 {
    display: grid;
    grid-template-columns: 1.5fr 2fr 1.25fr 1.25fr 4fr;
    grid-template-rows: 1.5fr 1fr;
    gap: 2px 0px;
    grid-template-areas:
    "titre titre titre titre ."
    "intro intro intro . .";
}

.grille2 {
    display: grid;
    grid-template-columns: 1.5fr 2fr 1.25fr 1.25fr 4fr;
    grid-template-rows: 1fr 2fr;
    gap: 2px 0px;
    grid-template-areas:
    ". . . heros heros"
    ". p1 p1 p2  p2";
}