/**
 * Typographie responsive (Mobile First)
   ========================================================================
 * Les valeurs de taille de police suggérées ici sont à titre indicatif.
 * À ajuster selon la direction visuelle et le choix de polices de caractères.
 *
 * @author Prénom Nom courriel
 *
 * TABLE DES MATIÈRES
 * Polices
 * Base décimale
 * Hiérarchie responsive
 *
 *
 * Doc des points de rupture :
 * ==========================================================================
 * Écran étroit : de 0 à 599px
 * point de rupture: 600px
 *
 * Écran moyen : de 600 à 799px
 * point de rupture: 800px
 *
 * Écran large : 800px et +
 */



/* Base décimale */
html{
    font-size: 62.5%;
}


/*body {*/
/*    !* 16px pour toutes les largeurs d'écran *!*/
/*    font-size: 1.6rem;*/
/*    !* facteur multiplicateur de la taille de la police 1.375x16 = 22 *!*/
/*    line-height: 1.375;*/
/*}*/
/*@media (min-width: 600px) {*/
/*    body {*/
/*        line-height: 1.5;*/
/*    }*/
/*}*/
/*@media (min-width: 800px) {*/
/*    body {*/
/*        line-height: 1.75;*/
/*    }*/
/*}*/


/* Hiérarchie responsive : plus proche = plus petit  &  plus loin = plus grand */
/* CHARTE TYPO */
/*.titreFilm{*/
/*    font-size: 10rem;*/
/*    background-color: red ;*/
/*    font-family: 'Oswald', 'Arial Narrow', Arial, sans-serif;*/
/*    font-variant: all-small-caps;*/
/*    text-align: center;*/
/*    margin-bottom: 0;*/
/*    padding: 0;*/
/*    line-height: 1;*/
/*}*/
/*@media (min-width: 500px) {*/
/*    .titreFilm {*/
/*        font-size: 3rem;*/
/*    }*/
/*}*/

/*@media (min-width: 800px) {*/
/*    .titreFilm {*/
/*        font-size: 50px;*/
/*    }*/
/*}*/


/*.titre_film2 {*/
/*    margin-top:40px;*/
/*    font-size: 30px;*/
/*    font-family: 'Oswald', 'Arial Narrow', Arial, sans-serif;*/
/*}*/



}



/*CHARTE TYPO*/
.titreFilm {
    font-size: 1rem;
    background-color: red;
    font-family: 'Oswald', 'Arial Narrow', Arial, sans-serif;
    font-variant: all-small-caps;
    text-align: center;
    margin-bottom: 0;
    padding: 0;
    line-height: 1;
}

@media (min-width: 500px) {
    .titreFilm {
        font-size: 7rem;
        margin: 0 30px 0;
    }
}

@media (min-width: 800px) {
    .titreFilm {
        font-size: 10rem;
    }
}


.titre_film2 {
    margin-top: 100px;
    font-size: 1rem;
    font-family: 'Oswald', 'Arial Narrow', Arial, sans-serif;
}
@media (min-width: 500px) {
    .titre_film2{
        font-size: 3rem;
        margin: 0 30px 0;
    }
}
.type_film{
    margin: 0px 30px 10px;
}

.citation {
    font-size: 0.5rem;
    font-family: 'Roboto Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (min-width: 500px) {
    .citation {
        font-size: 2rem;
        font-family: 'Roboto Medium', 'Arial Narrow', Arial, sans-serif;
    }
}

@media (min-width: 800px) {
    .citation {
        font-size: 2.5rem;
        font-family: 'Roboto Medium', 'Arial Narrow', Arial, sans-serif;
    }
}

h2 {
    font-size: 35px;
    line-height: 1;
    font-family: 'Oswald', 'Arial Narrow', Arial, sans-serif;
    font-variant: all-small-caps;
    margin: 10px 40px 10px;
}
.p_UneHistoireFamille {
    margin: 10px 40px 10px;
}
p {
    font-size: var(--fontSize-base-small);
    font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.5;

}

@media (min-width: 600px) {
    p {
        font-size: var(--fontSize-base-large);
    }
}