@charset "UTF-8";

@import url(href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap");

.filAriane,
.grilleUn,
.grilleTrois,
.grilleCinq{
    color: #442B33;
}

.pair{
    color: #ffffff;
    background-color: #442B33;
}


.titre1{
    font-family: Roboto, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: -.05em;
    font-size: 5.5em;
}

.titre2,
.titre3,
.titre4,
.titre5{
    font-family: "Style Script", fantasy;
    font-size: 5em;
}

.titre2ombre{
    -webkit-text-fill-color: rgba(68, 43, 51, 0);
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: .01px;
    font-size: 5em;
    font-family: "Style Script", fantasy;
    position: relative;
    left: -28vw;
    top: .5vh;
}

.filAriane,
.texte1,
.texte2,
.texte3,
.texte4{
    font-family: Roboto, Arial, sans-serif;
    font-size: 1em;
}

.texte1,
.texte2,
.texte4{
    padding-left: 3em;
}

.citation{
    font-family: "Style Script", fantasy;
    font-size: 2.5em;
    padding-right: 2em;
    padding-left: 2em;
}
.dateTournee{
    list-style-type: none;
}

.listeTournee>li{
    margin-bottom: 1em;
}
.listeTournee div{
    text-indent: 1em;
}

.auteur{
    text-align: left;
}

footer{
    background-color: #444444;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}
.reseauxSociaux{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-evenly;
    border: solid 1px sienna ;
    max-width: 100%;
}
.reseauxSociaux_icone{
    width: 5%;
    height: 5%;
    padding-right: 5px;
}