@charset "UTF-8";

@import url(href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap");
@import url("grilles.css");

/* ALLER AU CONTENU */

body{
    
}
@media (max-width: 800px){
    body{
        height: 70vh;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100' width='100'%3E%3Ccircle cx='50' cy='50' r='40' fill='rgb(255,155,76)' /%3E%3C/svg%3E "), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100' width='100'%3E%3Ccircle cx='50' cy='50' r='40' fill='rgb(167, 203, 199)' /%3E%3C/svg%3E "), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100' width='100'%3E%3Ccircle cx='50' cy='50' r='40' fill='rgb(245, 211, 217)' /%3E%3C/svg%3E ");
        background-position: 25vh -20vh, -20vh 330vh, 60vh 420vh;
        background-size: 700px, 500px, 905px;
        background-repeat: no-repeat;
        margin: 0;
    }
}
@media (min-width: 800px){
    body {
        height: 70vh;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100' width='100'%3E%3Ccircle cx='50' cy='50' r='40' fill='rgb(255,155,76)' /%3E%3C/svg%3E "), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100' width='100'%3E%3Ccircle cx='50' cy='50' r='40' fill='rgb(167, 203, 199)' /%3E%3C/svg%3E "), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100' width='100'%3E%3Ccircle cx='50' cy='50' r='40' fill='rgb(245, 211, 217)' /%3E%3C/svg%3E ");
        background-position: 110vh -20vh, -20vh 330vh, 60vh 420vh;
        background-size: 700px, 500px, 905px;
        background-repeat: no-repeat;
        margin: 0;
    }
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

/*ARRIÈRE-PLAN*/
.filAriane,
.grilleUn,
.grilleTrois,
.grilleCinq{
    color: #442B33;
    padding-top: 1em;
    padding-bottom: 1em;
}

.grilleUn{
    padding-left: 2em;
}
.filAriane{
    text-align: right;
    margin-right: 200px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.pair{
    color: #ffffff;
    background-color: #442B33;
}

.hautPage{
    height: 50px;
    width: 100%;
}
.logo{
    padding-left: 2em;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

/*CONTENEURS*/



/* POLICES */
.titre1{
    font-family: Roboto, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: -.05em;
    font-size: 5em;
}

.titre2,
.titre3,
.titre4,
.titre5{
    font-family: "Style Script", fantasy;
    font-size: 5vh;
}
@media (min-width: 500px) {
    .titre2,
    .titre3,
    .titre4,
    .titre5{
        font-size: 7vh;
    }
}
@media (min-width: 800px) {
    .titre2,
    .titre3,
    .titre4,
    .titre5{
        font-size: 10vh;
    }
}

.filAriane,
.texte1,
.texte2,
.texte3,
.texte4{
    font-family: Roboto, Arial, sans-serif;
    font-size: 1em;
}


/*IMAGES*/
.imageEnTete{
    max-width: 500px;
    max-height: 750px;
    box-shadow: -1em 1em #F5D3D9;
    z-index: -1;
}
@media(min-width: 800px){
    .imageEnTete{
        box-shadow: -1em 1em #F5D3D9;
        z-index: -1;
    }
}

.image2{
    box-shadow: -.8em .8em #A7CBC7;
    order: 1;
    max-width: 100%;
    max-height: 100%;
    margin: 20px 2em;
}
@media (min-width: 600px){
    .image2{

    }
}


.image3{
    box-shadow: .8em .8em #FF9B4C;
    max-height: 350px;
}

.image4{
    box-shadow: -.6em .6em #A7CBC7;
    max-width: 100%;
}

/*GRILLES*/
.grilleUn{
    max-width: 100%;
}
.grilleDeux,
.grilleTrois,
.grilleQuatre{
    padding-bottom: 2em;
}

/*EN-TÊTE*/
.titre1{
    max-width: 100%;
}
.texte1{
    padding-top: 1em;
}

/** CORPS DU TEXTE **/
.titre2,
.titre3,
.titre4{
    padding-left: .5em;
    margin-top: 0;
    margin-bottom: 0;
}
.texte2,
.texte3,
.texte4{
    padding-right: 1em;
    padding-left: 1em;
    margin-bottom: 0;
}
@media(min-width: 600px){
    .texte1,
    .texte2,
    .texte4{
        padding-left: 3em;
    }
}

.titre2{

}
@media (min-width: 600px){
    .titre2{
        order: 2;
    }
}
.texte2{
        padding: 0em 1em;
    }

.titre3{

}




/*TOURNÉE*/
.citation{
    font-family: "Style Script", fantasy;
    font-size: 2.5em;
    padding-top: 1em;
    padding-right: 2em;
    padding-left: 2em;
}
.dateTournee{
    list-style-type: none;
}

.listeTournee>li{
    margin-bottom: 1em;
}
.listeTournee div{
    text-indent: 1em;
}

.auteur{
    text-align: left;
}


/*PIED DE PAGE*/
.footer .orange{
    height: 150px;
    background-color: #FF9B4C;
    background-image: url("../images/logo_timzine.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.footer .rose{
    height: 50px;
    background-color: #F5D3D9;
}
.footer .brun{
    height: 100px;
    background-color: #442B33;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.reseauxSociaux_icone{
    padding: .5em;
    max-height: 60%;
    max-width: 60%;
}